# Ignores 
\.DS_Store 
\.classpath 
\.project 
\.settings 
\.metadata/ 
Servers/ 
target/ 
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch

.cproject

.buildpath

*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
